.header {
	text-align: center;
	background-image: url("images/bg2.jpg");
	background-size: cover;
	color: white;
	padding: 6em;
	padding-right: 30vw;
	padding-left: 30vw;
	margin-bottom: 40px;
}

.header a {
 	text-decoration: none;
 	color: black;
 	background-color: white;
 	border-radius: 6px;
 	padding: 12px;
 	margin-top: 10px;
}

.header p {
	margin-bottom: 30px;
}

.navbar-default {
	margin-bottom: 0px;
}

.glyphicon {
	font-size: 25px;
	color: black;
}

.galeria {
	overflow: hidden;
}

h2 {
	margin: 0px;
}

.cuadros p , h3 {
	text-align: center;
}

.cuadros {
	border: 10px solid #ededed;
	padding: 0px;
	border-radius: 30px;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.camara-footer {
	text-align: center;
}

button {
	margin-bottom: 10px;
}

.camara-footer {
	border: 2px solid #ededed;
	padding: 1vw;
}

footer {
	text-align: center;
	background-color: #ededed;
	padding: 1vw;
}

footer p {
	margin-bottom: 0px;
}